{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Listado de Servicios Registrados</h2>
    <table class="table table-hover shadow">
        <thead class="table-dark text-center">
            <tr>
                <th>ID</th>
                <th>Paciente</th>
                <th>Especialidad</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody class="text-center">
            {% for s in servicios %}
            <tr>
                <td>{{ s.id }}</td>
                <td>{{ s.nombre }}</td>
                <td>{{ s.Especialidad }}</td> 
                <td>${{ s.precio }}</td>
                <td>
                    <a href="{{ url_for('editar', id=s.id) }}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{{ url_for('eliminar', id=s.id) }}" class="btn btn-danger btn-sm" onclick="return confirm('¿Borrar?')">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-center mt-3">
        <a href="{{ url_for('index') }}" class="btn btn-secondary">Volver al Registro</a>
    </div>
</div>
{% endblock %}
